@font-face {
    font-family: 'OpenSansEmoji';
    src: url('OpenSansEmoji.ttf');
}

.text-field {
    -fx-font-family: OpenSansEmoji;
}
.scroll-bar:vertical{
    -fx-background-color:Transparent;
    -fx-pref-width: 10px;
}

.increment-button, .decrement-button {
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #2A3942;
    -fx-background-radius: 5em;
}